// Colors
$aqua: #00d1ff;
$darkBlue: #151249;
$orange: #ff218c;
$title-color: #29247b;
$text-color: #bab9c5;

//Burger Colors
$burgerColor: $orange;
$burgerActiveColor: #fff;

// Medias
$large: 1200px;
$medium: 992px;
$tablet: 768px;

// z-index
$burgerIndex: 4;
$mobileMenuIndex: 3;
$overlayIndex: 2;
