<section class="faq">
	<div class="faq__container container-md">
		<div class="info-block">
			<h2 class="to-left">
				The Present and Future of the Canadian Pharmaceutical Industry
			</h2>
			<p class="to-right">
				The Canadian pharmaceutical industry has come a long way, evolving from
				a small number of local apothecaries compounding basic medicines for the
				needs of their communities into one of the global healthcare leaders and
				standard-setters for reliability and excellence. Ranking ninth on the
				list of major medicine producers, Canada supplies its pharmaceuticals to
				more than 150 countries worldwide.
			</p>
			<p class="to-right">
				Here are some curious stats on the Canadian pharmaceutical industry:
			</p>
			<div class="dot-list-wrapper">
				<ul>
					<li class="to-left">
						Canada has 12,000+ registered pharmacies on its territory and
						48,000+ licensed pharmacists
					</li>
					<li class="to-left">
						In 2022, Canada’s pharmaceutical market was worth about $83.08
						billion, and it is expected to grow to about $141.69 billion by 2030
					</li>
					<li class="to-left">
						The top five drug manufacturers in the country are Johnson and
						Johnson, Teva Canada, Sanofi, Pfizer, and Novartis
					</li>
					<li class="to-left">
						Generic drugs have gained a significant market share in Canada over
						the past two decades, with 74.4 % of all prescriptions filled in
						2022 being for generics
					</li>
				</ul>
			</div>
			<p class="to-left">
				Competing against cheaper and much less strictly regulated
				pharmaceutical markets of China, Brazil, and India, Canada is trying to
				maintain its leading position by actively investing in scientific
				research and innovation development. Apart from promoting domestic
				public-private-academic collaborations, Canada encourages international
				partnerships to allow smaller companies to tap into global expertise.
			</p>
		</div>
		<!--  -->
		<div class="products">
			<div class="products__top">
				<button class="products__btn copy-btn to-top">View all products</button>
			</div>

			<!--  -->

			<div class="swiper swiper-1 to-top">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="product-card">
							<div class="product-card__info">
								<span>Generic Viagra</span>
								<span>Sildenafil</span>
							</div>
							<div class="product-card__icons">
								<div class="hot"></div>
								<div class="like"></div>
							</div>
							<div class="product-card__price">
								<span>$1.32</span>
								<span>per item</span>
							</div>
							<a href="#" class="product-card__link">
								<button class="search-btn product-card__btn">
									<span class="search-btn__text">To product</span>
									<span class="search-btn__arrow">
										<svg
											width="16"
											height="12"
											viewBox="0 0 16 12"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M15.5303 6.53033C15.8232 6.23744 15.8232 5.76256 15.5303 5.46967L10.7574 0.696699C10.4645 0.403806 9.98959 0.403806 9.6967 0.696699C9.40381 0.989593 9.40381 1.46447 9.6967 1.75736L13.9393 6L9.6967 10.2426C9.40381 10.5355 9.40381 11.0104 9.6967 11.3033C9.98959 11.5962 10.4645 11.5962 10.7574 11.3033L15.5303 6.53033ZM0 6.75H15V5.25H0V6.75Z"
											/>
										</svg>
									</span>
								</button>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="product-card">
							<div class="product-card__info">
								<span>Prednisolone</span>
								<span>Sildenafil</span>
							</div>
							<div class="product-card__icons">
								<div class="like"></div>
							</div>
							<div class="product-card__price">
								<span>$1.32</span>
								<span>per item</span>
							</div>
							<a href="#" class="product-card__link">
								<button class="search-btn product-card__btn">
									<span class="search-btn__text">To product</span>
									<span class="search-btn__arrow">
										<svg
											width="16"
											height="12"
											viewBox="0 0 16 12"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M15.5303 6.53033C15.8232 6.23744 15.8232 5.76256 15.5303 5.46967L10.7574 0.696699C10.4645 0.403806 9.98959 0.403806 9.6967 0.696699C9.40381 0.989593 9.40381 1.46447 9.6967 1.75736L13.9393 6L9.6967 10.2426C9.40381 10.5355 9.40381 11.0104 9.6967 11.3033C9.98959 11.5962 10.4645 11.5962 10.7574 11.3033L15.5303 6.53033ZM0 6.75H15V5.25H0V6.75Z"
											/>
										</svg>
									</span>
								</button>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="product-card">
							<div class="product-card__info">
								<span>Flomax</span>
								<span>Sildenafil</span>
							</div>
							<div class="product-card__icons">
								<div class="like"></div>
							</div>
							<div class="product-card__price">
								<span>$1.32</span>
								<span>per item</span>
							</div>
							<a href="#" class="product-card__link">
								<button class="search-btn product-card__btn">
									<span class="search-btn__text">To product</span>
									<span class="search-btn__arrow">
										<svg
											width="16"
											height="12"
											viewBox="0 0 16 12"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M15.5303 6.53033C15.8232 6.23744 15.8232 5.76256 15.5303 5.46967L10.7574 0.696699C10.4645 0.403806 9.98959 0.403806 9.6967 0.696699C9.40381 0.989593 9.40381 1.46447 9.6967 1.75736L13.9393 6L9.6967 10.2426C9.40381 10.5355 9.40381 11.0104 9.6967 11.3033C9.98959 11.5962 10.4645 11.5962 10.7574 11.3033L15.5303 6.53033ZM0 6.75H15V5.25H0V6.75Z"
											/>
										</svg>
									</span>
								</button>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="product-card">
							<div class="product-card__info">
								<span>Kamagra</span>
								<span>Sildenafil</span>
							</div>
							<div class="product-card__icons">
								<div class="hot"></div>
							</div>
							<div class="product-card__price">
								<span>$1.32</span>
								<span>per item</span>
							</div>
							<a href="#" class="product-card__link">
								<button class="search-btn product-card__btn">
									<span class="search-btn__text">To product</span>
									<span class="search-btn__arrow">
										<svg
											width="16"
											height="12"
											viewBox="0 0 16 12"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M15.5303 6.53033C15.8232 6.23744 15.8232 5.76256 15.5303 5.46967L10.7574 0.696699C10.4645 0.403806 9.98959 0.403806 9.6967 0.696699C9.40381 0.989593 9.40381 1.46447 9.6967 1.75736L13.9393 6L9.6967 10.2426C9.40381 10.5355 9.40381 11.0104 9.6967 11.3033C9.98959 11.5962 10.4645 11.5962 10.7574 11.3033L15.5303 6.53033ZM0 6.75H15V5.25H0V6.75Z"
											/>
										</svg>
									</span>
								</button>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="product-card">
							<div class="product-card__info">
								<span>Generic Viagra</span>
								<span>Sildenafil</span>
							</div>
							<div class="product-card__icons">
								<div class="hot"></div>
								<div class="like"></div>
							</div>
							<div class="product-card__price">
								<span>$1.32</span>
								<span>per item</span>
							</div>
							<a href="#" class="product-card__link">
								<button class="search-btn product-card__btn">
									<span class="search-btn__text">To product</span>
									<span class="search-btn__arrow">
										<svg
											width="16"
											height="12"
											viewBox="0 0 16 12"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M15.5303 6.53033C15.8232 6.23744 15.8232 5.76256 15.5303 5.46967L10.7574 0.696699C10.4645 0.403806 9.98959 0.403806 9.6967 0.696699C9.40381 0.989593 9.40381 1.46447 9.6967 1.75736L13.9393 6L9.6967 10.2426C9.40381 10.5355 9.40381 11.0104 9.6967 11.3033C9.98959 11.5962 10.4645 11.5962 10.7574 11.3033L15.5303 6.53033ZM0 6.75H15V5.25H0V6.75Z"
											/>
										</svg>
									</span>
								</button>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="product-card">
							<div class="product-card__info">
								<span>Prednisolone</span>
								<span>Sildenafil</span>
							</div>
							<div class="product-card__icons">
								<div class="like"></div>
							</div>
							<div class="product-card__price">
								<span>$1.32</span>
								<span>per item</span>
							</div>
							<a href="#" class="product-card__link">
								<button class="search-btn product-card__btn">
									<span class="search-btn__text">To product</span>
									<span class="search-btn__arrow">
										<svg
											width="16"
											height="12"
											viewBox="0 0 16 12"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M15.5303 6.53033C15.8232 6.23744 15.8232 5.76256 15.5303 5.46967L10.7574 0.696699C10.4645 0.403806 9.98959 0.403806 9.6967 0.696699C9.40381 0.989593 9.40381 1.46447 9.6967 1.75736L13.9393 6L9.6967 10.2426C9.40381 10.5355 9.40381 11.0104 9.6967 11.3033C9.98959 11.5962 10.4645 11.5962 10.7574 11.3033L15.5303 6.53033ZM0 6.75H15V5.25H0V6.75Z"
											/>
										</svg>
									</span>
								</button>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="product-card">
							<div class="product-card__info">
								<span>Flomax</span>
								<span>Sildenafil</span>
							</div>
							<div class="product-card__icons">
								<div class="like"></div>
							</div>
							<div class="product-card__price">
								<span>$1.32</span>
								<span>per item</span>
							</div>
							<a href="#" class="product-card__link">
								<button class="search-btn product-card__btn">
									<span class="search-btn__text">To product</span>
									<span class="search-btn__arrow">
										<svg
											width="16"
											height="12"
											viewBox="0 0 16 12"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M15.5303 6.53033C15.8232 6.23744 15.8232 5.76256 15.5303 5.46967L10.7574 0.696699C10.4645 0.403806 9.98959 0.403806 9.6967 0.696699C9.40381 0.989593 9.40381 1.46447 9.6967 1.75736L13.9393 6L9.6967 10.2426C9.40381 10.5355 9.40381 11.0104 9.6967 11.3033C9.98959 11.5962 10.4645 11.5962 10.7574 11.3033L15.5303 6.53033ZM0 6.75H15V5.25H0V6.75Z"
											/>
										</svg>
									</span>
								</button>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="product-card">
							<div class="product-card__info">
								<span>Kamagra</span>
								<span>Sildenafil</span>
							</div>
							<div class="product-card__icons">
								<div class="hot"></div>
							</div>
							<div class="product-card__price">
								<span>$1.32</span>
								<span>per item</span>
							</div>
							<a href="#" class="product-card__link">
								<button class="search-btn product-card__btn">
									<span class="search-btn__text">To product</span>
									<span class="search-btn__arrow">
										<svg
											width="16"
											height="12"
											viewBox="0 0 16 12"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M15.5303 6.53033C15.8232 6.23744 15.8232 5.76256 15.5303 5.46967L10.7574 0.696699C10.4645 0.403806 9.98959 0.403806 9.6967 0.696699C9.40381 0.989593 9.40381 1.46447 9.6967 1.75736L13.9393 6L9.6967 10.2426C9.40381 10.5355 9.40381 11.0104 9.6967 11.3033C9.98959 11.5962 10.4645 11.5962 10.7574 11.3033L15.5303 6.53033ZM0 6.75H15V5.25H0V6.75Z"
											/>
										</svg>
									</span>
								</button>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="products-pagination"></div>

			<!--  -->
		</div>
		<!--  -->
		<div class="info-block">
			<h3>What is the Secret of Canadian Drugstores?</h3>
			<p>It is hidden in its advantages that are the following:</p>
			<div class="number-list-wrapper">
				<ul>
					<li>
						Their motto is “The safest, the cheapest, and the fastest” that
						attracts the customers.
					</li>
					<li>
						It is more than safe because all the required information is given
						openly without the boring and irritating advertising.
					</li>
					<li>
						The prices in the Canadian drugstores are lower than at any other
						drugstores.
					</li>
					<li>
						If you often buy medicine there, you may get a discount up to 30%.
					</li>
					<li>
						It works 24 hours a day 7 days a week so you may order everything
						you need when it is comfortable for You and not for it.
					</li>
					<li>
						Canadian pharmacy understands that you want to buy their production
						confidentially and sends the order in a proper package where only
						their customers’ names and addresses are mentioned.
					</li>
					<li>
						The quality of the medicines is high, so the customers do not feel
						cheated and get a real help.
					</li>
				</ul>
			</div>
		</div>
		<div class="info-block">
			<h3>What Are Online Canadian Pharmacies Doing Now?</h3>
			<p>
				At Your Canadian Pharmacy, our mission is to provide the following
				benefits:
			</p>
			<p>
				Here are some curious stats on the Canadian pharmaceutical industry:
			</p>
			<div class="dot-list-wrapper">
				<ul>
					<li>
						<span>Assisting with Home Healthcare:</span> If you’re elderly or
						partially disabled and can’t easily visit a pharmacy, you can rely
						on us for regular deliveries of medications and pharmaceutical
						equipment.
					</li>
					<li>
						<span>Saving You Money:</span> We offer both brand-name and
						significantly cheaper generic products.
					</li>
					<li>
						<span>Saving Your Time:</span> No need to visit another
						brick-and-mortar pharmacy for another pack of pills. Simply place an
						order and enjoy speedy delivery.
					</li>
					<li>
						<span>Prioritizing Your Privacy:</span> We sell our products
						discreetly, so you don’t have to feel uncomfortable when receiving
						your medications.
					</li>
				</ul>
			</div>
		</div>
		<div class="info-block">
			<h3>Variety is Important</h3>
			<p>
				When it comes to taking care of your health and well-being, having
				plenty of medication and treatment options to choose from is paramount
				because it means everyone can find what works best for them without
				overlooking their health needs or putting too much financial strain on
				their budget. At Your Canadian Pharmacy, we understand the importance of
				such variety and make every effort to offer our customers the very best
				pharmaceutical care and convenient access to the broadest possible
				selection of affordable, high-quality medicines.
			</p>
			<p>
				Our extensive catalog features a vast array of brand-name and generic
				pharmaceutical products, both well-established, frequently prescribed
				medications used to fight common ailments and some of the lesser-known,
				niche treatments that are typically absent from the shelves of your
				local drugstore. Whatever health problem our customers are dealing with,
				there is guaranteed to be a safe, effective, and budget-friendly
				solution available on our pharmacy’s website.
			</p>
			<p>
				From ED and PE problems to heart diseases, infections, allergies, and
				various chronic conditions – we strive to address a broad spectrum of
				health issues, ensuring everyone who turns to us can easily and securely
				get all the help and assistance they require. Trust us to take excellent
				care of your pharmaceutical needs and show you the way toward an
				illness-free, fulfilling life.
			</p>
		</div>
	</div>
</section>
