<footer class="footer">
	<div class="footer__container container">
		<div class="footer__row">
			<ul class="footer-list">
				<li>
					<a href="#" class="footer-list__link">Careers</a>
				</li>
				<li>
					<a href="#" class="footer-list__link">Cookies Policy</a>
				</li>
				<li>
					<a href="#" class="footer-list__link">Disclaimer</a>
				</li>
			</ul>
		</div>
		<div class="footer__row">
			<div class="footer__copy">
				Copyright © 2016-2023 | Your Canadian Pharmacy | All Rights Reserved
			</div>
		</div>
	</div>
</footer>
