<header class="header">
	<div class="header__container container">
		<a href="#" class="header__logo logo">
			<img width="272" height="40" src="./assets/img/logo.svg" alt="logo" />
		</a>

		<div class="header__navigation">
			<nav class="nav header__nav">
				<ul class="nav__list">
					<li>
						<ul href="#" class="menu" data-dropdown>
							<li class="menu__item">
								<a href="#">Country</a>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="14"
									height="8"
									viewBox="0 0 14 8"
									fill="none"
								>
									<path d="M1 0.5L7 6.5L13 0.5" />
								</svg>
							</li>
							<ul class="sub-menu" data-dropdown-menu>
								<li class="sub-menu__item">
									<a href="#">Tokio</a>
								</li>
								<li class="sub-menu__item">
									<a href="#">Tokio</a>
								</li>
								<li class="sub-menu__item">
									<a href="#">Tokio</a>
								</li>
							</ul>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
		<button class="burger">
			<span></span>
		</button>
	</div>
</header>
