<header class="header header--absolute">
	<div class="header__container container">
		<a href="#" class="header__logo logo">
			<img width="272" height="40" src="./assets/img/logo.svg" alt="logo" />
		</a>

		<div class="header__navigation">
			<nav class="nav header__nav">
				<ul class="menu">
					<li class="menu-item">
						<a href="#">Home</a>
					</li>
					<li class="menu-item menu-item-has-children">
						<a href="#">About Us</a>
						<ul class="sub-menu">
							<li class="menu-item">
								<a href="#">SubLink</a>
							</li>
							<li class="menu-item">
								<a href="#">SubLink</a>
							</li>
							<li class="menu-item">
								<a href="#">SubLink</a>
							</li>
							<li class="menu-item">
								<a href="#">SubLink</a>
							</li>
						</ul>
					</li>
					<li class="menu-item menu-item-has-children">
						<a href="#">FAQ</a>
						<ul class="sub-menu">
							<li class="menu-item">
								<a href="#">SubLink</a>
							</li>
							<li class="menu-item">
								<a href="#">SubLink</a>
							</li>
							<li class="menu-item">
								<a href="#">SubLink</a>
							</li>
							<li class="menu-item">
								<a href="#">SubLink</a>
							</li>
						</ul>
					</li>
					<li class="menu-item">
						<a href="#">Delivery and Insurance</a>
					</li>
					<li class="menu-item">
						<a href="#">Contact Us</a>
					</li>
				</ul>
			</nav>
		</div>
		<button class="burger">
			<span></span>
		</button>
	</div>
</header>
