<section class="hero">
	<div class="hero__container container">
		<div class="hero__top">
			<div class="hero__info">
				<h1 class="hero__title">
					Your <span>Canadian Pharmacy</span>
					– We’ve Got Your Medication Covered
				</h1>
				<div class="hero__buttons">
					<button class="search-btn" data-search-open-btn>
						<span class="search-btn__text">Search for medicine</span>
						<span class="search-btn__arrow">
							<svg
								width="16"
								height="12"
								viewBox="0 0 16 12"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M15.5303 6.53033C15.8232 6.23744 15.8232 5.76256 15.5303 5.46967L10.7574 0.696699C10.4645 0.403806 9.98959 0.403806 9.6967 0.696699C9.40381 0.989593 9.40381 1.46447 9.6967 1.75736L13.9393 6L9.6967 10.2426C9.40381 10.5355 9.40381 11.0104 9.6967 11.3033C9.98959 11.5962 10.4645 11.5962 10.7574 11.3033L15.5303 6.53033ZM0 6.75H15V5.25H0V6.75Z"
								/>
							</svg>
						</span>
					</button>
					<button class="btn hero__btn">Explore bestsellers</button>
					<button class="btn btn-on-mobile">
						Special offers and Discounts
					</button>
				</div>
				<div class="hero__text">
					<p class="text">
						Canadian pharmacy is a major provider of top-notch pharmaceuticals
						at affordable prices on the web. We have been in business long
						enough to build an impressive customer base and introduce a wide
						assortment of drugs in our catalog. However, we wholly owe our
						success to our customers. We have always worked hard to provide them
						with the services and products they desire most, and are thankful
						that this has left them satisfied and made them return again and
						again.
					</p>
					<p class="text">
						If you don’t like the hassle of visiting the doctor to get a
						prescription and then taking more time out of your busy day to get a
						drug at a pharmacy, you will surely be pleased with the alternative
						we offer. Using our site, you can quickly find what you need and
						place an order, all in the span of several minutes.
					</p>
				</div>
			</div>
			<div class="hero__img">
				<img src="./assets/img/heroBg.png" alt="bg" />
			</div>
		</div>
		<div class="hero__bottom">
			<div class="cards">
				<div class="card">
					<div class="card__top">
						<div class="card__title">Easy way to <span>save</span></div>
					</div>
					<div class="card__body">
						<div class="card__subtitle">
							Unlock a 10% discount with our coupon on your first purchase.
						</div>
					</div>
					<div class="card__bottom">
						<div class="discount">
							<div>107RXYCPFRST</div>
							<div>-10%</div>
						</div>
						<button class="copy-btn">Copy coupon</button>
					</div>
				</div>
				<div class="card info-card">
					<div class="card__top">
						<div class="card__title card__title--info">
							<span>How to</span> Use Coupon?
						</div>
					</div>
					<div class="card__body">
						<ul class="card-list">
							<li class="card-list__item">
								<span>Choose Your Product:</span> Pick the item you want fro our
								online pharmacy.
							</li>
							<li class="card-list__item">
								<span>Head to Checkout:</span> Once you've added everything to
								your cart, go to the checkout page.
							</li>
							<li class="card-list__item">
								<span>Input Your Coupon:</span> There's a box for promo codes or
								coupons. Type yours in there.
							</li>
							<li class="card-list__item">
								<span>Complete Your Purchase:</span> With the discount applied,
								you can now finish the payment process.
							</li>
						</ul>
					</div>
					<div class="card__bottom"></div>
				</div>
				<div class="card">
					<div class="card__top">
						<div class="card__title">
							Why are our prices <span>so low?</span>
						</div>
					</div>
					<div class="card__body">
						<div class="card__subtitle">
							Learn more about why we offer affordable prices and high-quality
							medications
						</div>
					</div>
					<div class="card__bottom">
						<button class="card__btn btn">Read Now</button>
					</div>
				</div>
				<div class="card">
					<div class="card__top">
						<div class="card__title">Resource Center</div>
					</div>
					<div class="card__body">
						<div class="card__subtitle">
							We regularly write interesting and relevant information about
							medications and everything related to them.
						</div>
					</div>
					<div class="card__bottom">
						<button class="card__btn btn">View Blog</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
