<div class="search-block" data-search-block>
	<div class="search-block__wrapper">
		<div class="search-block__btn" data-search-close-btn>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="51"
				height="48"
				viewBox="0 0 51 48"
				fill="none"
			>
				<line
					x1="4.06066"
					y1="1.93934"
					x2="49.0607"
					y2="46.9393"
					stroke="#00D1FF"
					stroke-width="3"
				/>
				<line
					x1="1.93934"
					y1="46.9393"
					x2="46.9393"
					y2="1.93934"
					stroke="#00D1FF"
					stroke-width="3"
				/>
			</svg>
		</div>
		<div class="search-block__inner">
			<div class="search-block__title">Quick search in products:</div>
			<form action="#" class="search-form">
				<input
					type="text"
					class="search-block__input"
					placeholder="Type your query here..."
				/>
				<span>search now</span>
			</form>
			<div class="search-block__info">
				<div class="search-block__tips">Quick tips:</div>
				<ul>
					<li>
						<a href="#">Generic Viagra</a>
					</li>
					<li>
						<a href="#">Generic Viagra</a>
					</li>
					<li>
						<a href="#">Generic Viagra</a>
					</li>
					<li>
						<a href="#">Generic Viagra</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
