.footer {
	padding: 32px 0;
	background: #0d0a42;
	// .footer__container

	&__container {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 27px;
	}

	// .footer__copy

	&__copy {
		color: #54518c;
		font-family: 'Montserrat';
		font-size: 16px;
		font-weight: 400;
		line-height: 140%;
		letter-spacing: -0.32px;
	}
}

.footer-list {
	display: flex;
	gap: 18px 18px;
	flex-wrap: wrap;
	// .footer-list__link

	&__link {
		display: block;
		padding: 10px 18px;
		border-radius: 10px;
		color: #fff;
		font-family: 'Montserrat';
		font-size: 16px;
		font-weight: 400;
		line-height: 120%;
		transition: background-color 150ms ease-in-out;
		@include hover {
			background-color: rgb(7, 145, 204);
		}
	}
}
