.hero {
	&::before {
		content: '';
		position: absolute;
		bottom: -100px;
		@media screen and (max-width: 768px) {
			bottom: 600px;
		}
		left: 0;
		width: 800px;
		height: 900px;
		background: linear-gradient(
			177deg,
			rgba(47, 38, 249, 0.67) 2.71%,
			rgba(252, 129, 240, 0.25) 123.45%
		);
		border-radius: 50%;
		filter: blur(120px);
		-webkit-filter: blur(120px);
	}
	&::after {
		@media screen and (max-width: 768px) {
			display: none;
		}
		content: '';
		position: absolute;
		right: 0;
		bottom: 0;
		border-radius: 50%;
		width: 400px;
		background-color: rgba(249, 137, 190, 0.25);
		height: 400px;
		filter: blur(120px);
		-webkit-filter: blur(120px);
	}
	position: relative;
	padding-top: 200px;
	padding-bottom: 60px;
	@media screen and (max-width: 768px) {
		padding-top: 160px;
	}
	background: rgb(26, 10, 130);
	background: linear-gradient(
		90deg,
		rgba(26, 10, 130, 1) 0%,
		rgba(57, 41, 209, 1) 100%
	);

	// .hero__container
	&__container {
	}

	// .hero__info
	&__info {
		margin-bottom: 155px;
		@media screen and (max-width: 768px) {
			margin-bottom: 44px;
		}
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		max-width: 740px;
	}

	// .hero__title
	&__title {
		margin-bottom: 48px;
		color: #fff;
		font-size: 51px;
		@media screen and (max-width: 768px) {
			font-size: 32px;
			margin-bottom: 66px;
		}
		font-style: normal;
		font-weight: 700;
		line-height: 120%;
		span {
			color: $aqua;
		}
	}

	// .hero__buttons
	&__buttons {
		margin-bottom: 48px;
		display: flex;
		flex-wrap: wrap;
		gap: 15px 5px;

		@media screen and (max-width: 768px) {
			flex-direction: column;
		}
		@media screen and (max-width: 375px) {
		}
	}

	// .hero__text
	&__text-mobile {
		display: none;
		p + p {
			margin-top: 20px;
		}
		@media screen and (max-width: 992px) {
			display: block;
		}
	}
	&__text {
		@media screen and (max-width: 992px) {
			display: none;
		}
		p + p {
			margin-top: 20px;
		}
	}

	// .hero__img
	&__img {
		right: 0;
		top: 0;
		max-width: 950px;
		height: 853px;
		@media screen and (max-width: 768px) {
			width: 100%;
			height: 500px;
		}
		@media screen and (max-width: 540px) {
			height: 337px;
		}
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
		position: absolute;
	}
}

.search-btn {
	border-radius: 60px;
	background: $darkBlue;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	gap: 22px;
	padding: 16px 16px 16px 28px;
	@media screen and (max-width: 374px) {
		padding: 14px 10px;
	}
	transition: background-color 150ms ease-in-out;

	@include hover {
		background-color: #1a192e;
		.search-btn__text {
			color: $aqua;
		}
		.search-btn__arrow {
			background-color: #fff;
			transform: rotate(-40deg);
			fill: $orange;
		}
	}
	&:active {
		background-color: #100f2f;
	}

	&__text {
		transition: color 150ms ease-in-out;
		color: #fff;
		font-family: 'Montserrat';
		font-size: 18px;
		font-weight: 400;
		line-height: 100%;
	}
	&__arrow {
		flex-shrink: 0;

		transition:
			transform 150ms ease-in-out,
			fill 150ms ease-in-out,
			background-color 150ms ease-in-out;
		display: grid;
		place-items: center;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background-color: $orange;
		fill: #ffb4d8;
	}
}
.btn-on-mobile {
	display: none !important;
	@media screen and (max-width: 992px) {
		display: flex !important;
		flex-wrap: wrap;
	}
}
.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 24px;
	border-radius: 60px;
	border: 2px solid #fff;
	@media screen and (max-width: 374px) {
		padding: 15px 10px;
	}
	color: #fff;
	transition:
		border 150ms ease-in-out,
		color 150ms ease-in-out;
	@include hover {
		border: 2px solid #00d1ff;
		color: #00d1ff;
	}

	&:active {
		border: 2px solid #a3eeff;
	}
}

.cards {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px 20px;
	@media screen and (max-width: 768px) {
		flex-direction: column;
		align-items: center;
	}
}
.card {
	min-height: 350px;
	gap: 24px;
	display: flex;
	flex-direction: column;
	padding: 32px;

	max-width: 365px;
	@media screen and (max-width: 768px) {
		max-width: 450px;
		padding: 24px;
	}
	border-radius: 16px;
	background: rgba(255, 255, 255, 0.13);
	box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
	// .card__top

	&__top {
	}

	// .card__title

	&__title {
		span {
			color: $aqua;
		}
		&--info {
			font-size: 24px;
		}
		color: #fff;
		font-family: 'Montserrat';
		font-size: 30px;
		font-weight: 700;
		line-height: 120%;
		@media screen and (max-width: 768px) {
			font-size: 24px;
		}
	}

	// .card__body

	&__body {
		flex-grow: 1;
	}

	// .card__subtitle

	&__subtitle {
		color: #d0cef2;
		font-family: 'Montserrat';
		font-size: 16px;
		font-weight: 400;
		line-height: 140%;
		letter-spacing: -0.32px;
	}

	// .card__bottom

	&__bottom {
		margin-top: 26px;
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	// .card__btn

	&__btn {
		@media screen and (max-width: 768px) {
			padding: 15px 10px;
		}
		color: #fff;
		color: #fff;
		font-family: 'Montserrat';
		font-size: 18px;
		font-weight: 400;
		line-height: 100%;
		max-width: 100%;
		width: 100%;
	}
}
.discount-mobile {
	display: none;
	padding: 8px 9px 8px 10px;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	border-radius: 67px;
	border: 2px dashed #fff;
	color: #fff;
	font-family: 'Montserrat';
	font-weight: 500;
	line-height: 100%;
	border-radius: 55px;

	div {
		&:first-child {
			font-size: 20px;
			@media screen and (max-width: 768px) {
				font-size: 16px;
			}
		}
		&:last-child {
			padding: 10px;
			background: $orange;
			font-size: 16px;
			border-radius: 55px;
			@media screen and (max-width: 375px) {
				font-size: 12px;
			}
		}
	}
	@media screen and (max-width: 992px) {
		display: flex;
	}
}
.hide-on-mobile {
	@media screen and (max-width: 992px) {
		display: none;
	}
}
.discount {
	padding: 14px 13px 14px 22px;
	@media screen and (max-width: 768px) {
		padding: 4px 9px 5px 10px;
	}
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	border-radius: 67px;
	border: 2px dashed #fff;
	color: #fff;
	font-family: 'Montserrat';
	font-weight: 500;
	line-height: 100%;
	border-radius: 55px;

	div {
		&:first-child {
			font-size: 20px;
			@media screen and (max-width: 768px) {
				font-size: 16px;
			}
		}
		&:last-child {
			padding: 10px;
			background: $orange;
			font-size: 16px;
			border-radius: 55px;
			@media screen and (max-width: 375px) {
				font-size: 12px;
			}
		}
	}
}
.copy-btn {
	padding: 23px 10px;
	@media screen and (max-width: 768px) {
		padding: 15px 10px;
	}

	max-width: 100%;
	width: 100%;
	border-radius: 60px;
	color: #fff;
	font-family: 'Montserrat';
	font-size: 18px;
	font-weight: 400;
	line-height: 100%;
	background-color: #00d1ff;
	transition: background-color 150ms ease-in-out;
	@include hover {
		background-color: #05abd0;
	}
	&:active {
		background-color: #05abd0;
	}
}
.card-list {
	display: flex;
	flex-direction: column;
	gap: 16px;
	// .card-list__item

	&__item {
		color: #d0cef2;
		font-family: 'Montserrat';
		font-size: 14px;
		font-weight: 500;
		line-height: 120%;
		letter-spacing: -0.28px;
		span {
			color: $orange;
		}
	}
}

.info-card {
	overflow: hidden;
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: -35px;
		right: -20px;
		width: 182px;
		height: 182px;
		background-image: url('../img/infoCardBg.png');
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	border-radius: 16px;
	background: #0d0a42;
	box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
}
